<article>
  <div class="login">
    <br>
    <div class="description">
      <p>Pass is a new, experimental authentication system.</p>
      <%= link_to 'Learn more', about_path, class: 'btn center' %>
    </div>
    
    <h1>Log In</h1>

    <div id="qr-code-wrapper">
      <div id="qr-code"></div>
    </div>
    <button id="login-alt" class="btn-link pull-right ">Alternate login</button>

    <%= form_tag sessions_path do %>
      <div class="control-group login-alt">
        <label class="control-label"><%= label_tag :email %></label>
        <div class="controls">
          <%= text_field_tag :email, params[:email], autofocus: true %>
        </div>
      </div>
      <div class="control-group login-alt">
        <label class="control-label"><%= label_tag :password %></label>
        <div class="controls">
          <%= password_field_tag :password %>
        </div>
      </div>
      <%= submit_tag "Log In", class: "btn-login login-alt" %>
    <% end %>
    
  </div>
  
</article>

<script>
  window._pass = window._pass || {};
  _pass.session_id = <%= @pass_session_id %>;
  _pass.target = "qr-code";
  _pass.redirect_to = 'https://passauth.net/';

  (function() {
    var t = document.createElement('script');
    t.type = 'text/javascript';
    t.async = true;
    t.src = 'https://passauth.net/pass.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
